* {
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  //background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-title {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 40px;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 1;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    //background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    //display: none;
  }
}
.nameLogo {
  font-size: 18px;
  text-align: left;
  margin-left: 50px;
  .fname {
    font-weight: 700;
    color: #0077ff;
    font-size: 20px;
  }
  .lname {
    font-weight: 900;
    font-style: italic;
    a {
      color:white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.w-100.text-white {
  position: relative;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 85%;
  right: 0;
  margin-top: -15px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
.scroll-text {
  color: white;
  bottom: -28px;
  position: absolute;
  left: 0;
  font-size: 14px;
}
.navigational {
  position: absolute;
  z-index: 2;
  width: 100%;
  color: #fff;
  top: 50px;
}
.nav-links {
  font-weight: 700;
  padding-right: 50px !important;
  text-align: right;
  span {
    margin-left: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}
.about-text {
  position: absolute;
  margin-top: -220px;
}
.barcode {
  margin: 0 auto;
}
.about-me {
  color: white;
  font-size: 14px;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto;
  p {
    font-weight: 400;
  }
  h1 {
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #2396f1;
  }
  h3 {
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    color: #04bad2;
  }
  &.hide {
    display: none;
  }
  .cert-title {
    display: block;
    font-weight: bold;
  }
}
.active-nilima {
  &.hide {
    display: none;
  }
  span {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    color: white;
    opacity: 0.1;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    font-size: 17.5vw;
    letter-spacing: 50px;
    margin-bottom: -100px;
    left: 0px;
  }
}
.fade-out {
  -webkit-animation: fade-out 1s ease-out alternate both;
  animation: fade-out 1s ease-out alternate both;
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) alternate
    both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) alternate both;
}
.slide-bottom {
  -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.volume-one {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: white;
  font-weight: 900;
  font-style: italic;
  .dot {
    color: #0077ff;
  }
}
.linkedin {
  position: absolute;
  left: 40px;
  bottom: 25px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.5;
    transition: all 0.5s;
    span {
      font-weight: 800;
    }
    &:hover {
      opacity: 1;
      span {
        color: #0077ff;
      }
    }
  }
}
.d-flex {
  position: relative;
}
.work-projects {
  .link--bravoo {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: white;
    text-decoration: none;
    margin: 0 45px;
    cursor:default;
  }
}
.work-title {
  color: white;
  p{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px;
  }
}
.logos {
  position: absolute;
  bottom: -180px;
  left: -180px;
}
.nav-contact {
  color: white;
  &:hover {
    color: white;
  }
}

/* bravoo */
/* bravoo */
.link--bravoo {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  display: inline-block;
  position: relative;
}

.link--bravoo:hover {
  color: #0077ff;
}

.link--bravoo::before {
  content: "";
  position: absolute;
  height: 38px;
    width: 100%;
    top: 50%;
    margin-top: -11px;
    left: -1%;
  z-index: -1;
  background: #f9f9f9;
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 1, 1);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  opacity: 0.1;
}

.link--bravoo:hover::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

.link--bravoo span {
  font-size: 30%;
  font-weight: 400;
  margin-left: 10px;
  position: absolute;
  right: 5px;
  color: lawngreen;
  bottom: -9px;
  opacity: 0;
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  a {
    color:white;
    cursor: pointer;
  }
}

.link--bravoo:hover span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*media queries*/
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .about-me {
    color: white;
    font-size: 12px;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
  }
  .main-title {
    font-size: 20px;
  }
  .barcode {
    &.active-about-mobile {
      margin-bottom: -245px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .active-nilima span {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    color: white;
    opacity: 0.1;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    font-size: 13.5vw;
    letter-spacing: 50px;
    margin-bottom: -40px;
    left: 0px;
  }
}
